<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div id="social-icons" class="social-icons">
    <a href="https://datacraze.pl">
      <img src="/assets/img/datacraze.svg" 
           alt="DataCraze" 
           height="35" 
           width="35"/>
    </a>
    <a href="mailto:kontakt@krzysztofbury.pl">
      <img src="/assets/img/gmail.svg" 
           alt="Napis do mnie" 
           height="35" 
           width="35"/>
    </a>
    <a href="https://www.instagram.com/krzysiekbury/">
      <img src="/assets/img/instagram.svg" 
           alt="Instagram" 
           height="35" 
           width="35"/>
    </a>
    <a href="https://twitter.com/krzysiek_bury">
      <img src="/assets/img/twitter.svg" 
           alt="Twitter" 
           height="35" 
           width="35"/>
    </a>
    <a href="https://www.linkedin.com/in/burykrzysztof/">
      <img src="/assets/img/linkedin.svg" 
           alt="LinkedIn" 
           height="35" 
           width="35"/>
    </a>
  </div>
</div>
